// MEDIA QUERY MANAGER
/* 
0px - 600px: Phone
600px - 900px: Tablet portrait
900px - 1200px: Tablet landscape
[1200px - 1800px] is where our normal styles apply
1800px+: Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}

@mixin divider {
  border-bottom: 1px solid $color-dark-gray;
}

@mixin input {
  font-family: Roboto;
  padding: 1rem 0.6rem;
  font-size: 16px;
  width: 100%;

  color: rgba($color-white, 0.9);
  outline: none;
  background-color: $color-eclipse;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid $color-dark-gray;
  border-radius: 4px 0 0 4px;

  &:focus {
    border: 1px solid $color-blue;
  }
}
