// COLORS
$color-primary: #ff0000;

$color-focus: #3171c4;

$color-light-gray: #a3a3a3;
$color-gray: #727272;
$color-dark-gray: #313131;

$color-white: #f1eff3;
$color-black: #090909;

$color-dark: #202020;
$color-background: #181818;
$color-eclipse: #121212;

// FONT
$default-font-size: 1.6rem;
