// COLORS
$color-primary: #ee3462;

$color-secondary: #1abdda;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #777;
$color-grey-2: #999;
$color-grey-dark: #333;

$color-white: #f1eff3;
$color-black: #090909;
$color-dark: #111;
$color-background: #212121;

// FONT
$default-font-size: 1.6rem;
