.menu-toggler {
  cursor: pointer;
  text-align: center;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 4rem;
  height: 4rem;

  transition: all 0.2s;

  &:hover {
    background-color: #2d2d2d;
  }

  &:focus {
    outline: 1px solid $color-blue;
  }

  &__icon {
    color: $color-white;
    font-size: 2.2rem;
  }
}
